<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Your affordable and reliable transportation and logistic services</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
        <meta name="author" content="templatemo">

		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- animate -->
		<link rel="stylesheet" href="css/animate.min.css">
		<!-- bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- font-awesome -->
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- google font -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,800' rel='stylesheet' type='text/css'>
		<!-- fullpage -->
		<link rel="stylesheet" href="css/jquery.fullPage.css">
		<!-- custom -->
		<link rel="stylesheet" href="css/templatemo-style.css">

	</head>
	<body>

	<div id="fullpage">

		<!-- start home -->
		<div id="home" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8 wow fadeIn" data-wow-delay="0.9s">
						<h1>GMATH LOGISTICS SERVICES</h1>
							<h2 class="rotate">Car Hire, Delivery Services, Movements and Relocating of Equipment’s, Sales of Cars, SUV RENTALS </h2>
						<p>Let's make transportation and logistics easy for you.</p>
						<a href="#work" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="1s">Get started</a>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
		<!-- end home -->

		<!-- start work -->
		<div id="work" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow bounce">
						<h2>WHAT WE DO</h2>
					</div>
                </div>  
                
                <div class="row">
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-laptop"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">Vehicle leasing</h3>
								<p>We offer affordable and quality car leasing services.</p>
							</div>
						</div>
					</div>
                    
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-link"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">Delivery Services</h3>
								<p>We provide top notch deliviery services, within and outside the state.</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-link"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">Movements and Relocating of Equipment’s</h3>
								<p>Worrying over the stress of moving Equipment’s around? we've got you covered.</p>
							</div>
						</div>
					</div>					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-link"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">Car Sales</h3>
								<p>Our cars are of perfect working condition, a trial will convince you.</p>
							</div>
						</div>
					</div>
                    
				
                    
				</div>
			</div>
		</div>
		<!-- end work -->

		<!-- start about -->
		<div id="about" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-xs-11 wow fadeInLeft" data-wow-delay="0.9s">
						<h2>ABOUT GMATH LOGISTICS SERVICES</h2>
						<h4>TRANSPORTER &AMP; VEHICLE RESOURCE PLUG</h4>
						<p>At Gmath logistic Services, we offer great services in transportation and logistic services.</p>
					</div>
					<div class="col-md-6 col-xs-11 wow fadeInRight" data-wow-delay="0.9s">
						<span class="text-top">QUALITY <small>99%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 99%;"></div>
							</div>
						<span>CUSTOMERCENTRIC  <small>99%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 99%;"></div>
							</div>
						<span>RELIABLITY <small>99%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 99%;"></div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end about -->

		<!-- start portfolio -->
		<div id="portfolio" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="wow bounce">GMATH BUSTOP</h2>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="images/m1.jpg" class="img-responsive" alt="portfolio img">
					</div>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="images/m2.jpg" class="img-responsive" alt="portfolio img">
					</div>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="images/m3.jpg" class="img-responsive" alt="portfolio img">
					</div>
				</div>
				<div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="images/m4.jpg" class="img-responsive" alt="portfolio img">
					</div>
				</div>
				<div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="images/m5.jpg" class="img-responsive" alt="portfolio img">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end portfolio -->

		<!-- start contact -->
		<div id="contact" class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-lg-offset-1 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<address>
							<p class="contact-title">CONTACT ME</p>
							<p><i class="fa fa-phone"></i>070-308-454-50</p>
							<p><i class="fa fa-envelope-o"></i> gmathlogistic@gmail.com</p>
							<p><i class="fa fa-map-marker"></i> 39, Kano street,Ebute-Metta,Lagos</p>
						</address>
					</div>

		<div class="col-lg-6 col-md-6 col-xs-10 wow fadeInUp" data-wow-delay="0.6s">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.3007301733!2d3.3834164140004517!3d6.483546625427166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8c823c6f4b05%3A0xb5c880728e364623!2s39%20Kano%20St%2C%20Adekunle%2C%20Lagos!5e0!3m2!1sen!2sng!4v1608790493025!5m2!1sen!2sng" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</div>
  	<!-- jQuery -->
		<script src="js/jquery.js"></script>
		<!-- bootstrap -->
		<script src="js/bootstrap.min.js"></script>
		<!-- fullpage -->
		<script src="js/jquery.fullPage.js"></script>
		<!-- smoothScroll -->
		<script src="js/smoothscroll.js"></script>
		<!-- wow -->
		<script src="js/wow.min.js"></script>
		<!-- text rotater -->
		<script src="js/jquery.simple-text-rotator.js"></script>
		<!-- custom -->
		<script src="js/custom.js"></script>

          					
                <div class="col-md-1 col-sm-1"></div>
              </div>
            </div>
          </div>
          <!-- end contact -->
    </body>

  		<!-- start footer -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-12 wow fadeIn" data-wow-delay="0.9s">
              <p>Copyright &copy; Gmath Services and Logistics Profile 
                          
                          . Designed by <a rel="nofollow noopener" href="https://pyeramids.herokuapp.com/">Pyeramid</a></p>
              <hr>
              <ul class="social-icon">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-instagram"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- end footer -->
</html>